@import url('https://fonts.googleapis.com/css?family=Cinzel|Markazi+Text');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Markazi Text;
    /*    position: absolute;*/
    /*
    display: flex;
    flex-direction: column;
*/
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(34, 34, 34, 0.7);
    background-blend-mode: darken;
    padding: 23px;
    margin: 0 auto;
    font-weight: bold;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    float: right;
    position: relative;
    left: -50%;
}

nav ul li {
    float: left;
    position: relative;
    left: 50%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 30px;
}

/*при наведенні міняється колір*/

nav a:hover {
    color: #f4df42;
}

.logo {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.topHead {
    font-family: Cinzel;
    width: 100%;
    color: #777;
    padding-top: 95px;
    margin-top: -200px;
    margin-bottom: -100px;
}

.topHead p {
    font-size: 70px;
    text-align: right;
    width: 20%;
    padding-top: 300px;
    padding-left: 48%;
}

.backgroundTop {
    background: url(img/Roads_2018_Husqvarna_Vitpilen_701_Motorcyclist_538874_4096x2731.jpg) no-repeat;
    background-position: 40% 40%;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    height: 810px;
}

.about {
    width: 100%;
    color: #777;
    padding-top: 100px;
    margin-top: -5px;
    /*    margin-bottom: 5px;*/
    background: url(img/flat,1000x1000,075,f.jpg) repeat-x;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    background-size: 1300px;
    height: 400px;
}

.about p {
    padding-left: 65%;
    padding-top: 3%;
}

.about ul {
    list-style-type: none;
}

.about ul li {
    float: right;
    width: 80%;
}

.about ul li p {
    margin-left: -80%;
    font-size: 37px;
    width: 67%;
    margin-bottom: -24%;
}

.about ul li img {
    margin-left: 55%;
    border: 6px solid #f4df42;
}

.gallery {
    height: 400px;
    width: 100%;
/*    background-position: center*/
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: scroll;
/*    padding-right: 20%;*/
    background-color: #f4df42;
/*    padding-right: */
           margin: 0 auto;
/*    float: right;*/
/*    font-weight: 600;*/
/*    display: block;*/

}

.gallery img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery img:hover {
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
}

.galleryBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

/*
.gallery ul{
    width: 100%;
    overflow: hidden;
    overflow: auto;
}
*/
.gallery li{
    list-style-type: none;
}
/*

.parent {
    width: 95%;
    height:140px;
    overflow: hidden;
    overflow-x: scroll;
    background: yellow;
    white-space:nowrap;
     overflow-y: scroll;
    overflow-x: scroll;
}
*/

/*
.child {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 100px;
    background: red;
}
*/

/*

.horizontal-scroll-wrapper {
    width: 150px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg); 
    background-color: #222;
    transform-origin: right top;
}

.horizontal-scroll-wrapper div {
    width: -700px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
    box-sizing: border-box;
}
*/

/*
.rectangles {
    top: 100px;
    padding: 0px 0 100px 120px;
}
*/

/*.rectangles div {*/
/*    width: 100px;*/
/*
    height: 125px;
    margin: 140px 60px;
    padding: 5px;
*/
/*    transform: rotate(90deg) translateY(20px);*/
/*    transform-origin: right top;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    /*    grid-template-rows: 600px;*/
    /*
    grid-template-areas: 
        "top"
        "about"
        "gallery"
        "pricing"
        "contacts";
*/
}

/*колір значків соцмереж*/

/*
div a {
    color: black;
}
*/

/*значки міняють клір при наведенні*/

div a:hover {
    color: #f4df42;
}

/*верх бар*/

/*header {*/

border: 1px solid #111;
color: black;
background: rgba(34,
34,
34,
0.7);
top: 0px;
padding-top: auto;
padding-bottom: auto;
margin-left: -8px;
width: 100%;
position: fixed;
z-index: 1;
grid-area: header;
}

/*.content{*/

flex-grow: 1;
}

/*шапка*/

/*righ {*/

color: #444;
margin-top: -27px;
padding-top: 148px;
margin-bottom: -10px;
margin-left: -8px;
margin-right: -10px;
grid-area: righ;
font-family: Cinzel;
text-align: center;
font-size: 70px;
background: url(img/flat,1000x1000,075,f.jpg) repeat-x;
background-size: 1300px;
background-position: center;
background-color: rgba(0,
0,
0,
0.9);
background-blend-mode: darken;
}


/*
.grid {
    display: grid;
            grid-gap: 5px;
    grid-template-areas: "header" "righ" "gallery" "cont" "info" "footer";
}
*/

/*cont {*/

background-color: orangered;
border: 1px solid red;
margin-top: 60px;
border-radius: 5px;
font-size: 20px;
grid-area: cont;
}

/*галерея свйту*/

/*gallery {*/

background-color: orangered;
border: 1px solid red;
margin-top: 60px;
border-radius: 5px;
font-size: 20px;
grid-area: gallery;
height: 150px;
position: relative;
box-sizing: border-box;
}

/*інформаційна частина*/

/*info {*/

background-color: #f4df42;
font-size: 20px;
grid-area: info;
color: black;
margin-top: 74px;
margin-bottom: -34px;
padding-bottom: 34px;
padding-top: 10px;
height: 300px;
margin-left: -8px;
margin-right: -10px;
font-weight: 700;
background-position: center 80px;
}

/*підвал*/

/*footer {*/

/*    grid-area: footer;*/

/*    position: absolute;*/

/*    display: block;*/

/*    color: #444;*/

/*    margin-top: 34px;*/

/*    margin-bottom: -1015px;*/

/*    padding-bottom: 34px;*/

/*    padding-top: 30px;*/

/*    margin-left: -8px;*/

/*    margin-right: -10px;*/

/*    font-family: Cinzel;*/

/*    width: 100%*/

/*     border: 1px solid #111;*/

/*    color: black;*/

/*    background: rgba(34, 34, 34, 0.7);*/

/*    bottom: 0px;*/

/*    left: 0px;*/

/*    padding-top: auto;*/

/*    padding-bottom: auto;*/

/*    margin-left: -8px;*/

/*    min-width: 100%;*/

/*    position: fixed;*/

/*    z-index: 1;*/

/*
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
*/

/*    font-weight: 700;*/

/*    background-position: center 80px;*/

/*
    background: url(img/images.png) no-repeat;
    background-size: 300px;
    background-position: left;
*/

/*
     background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
*/

/*}*/

/*розміщення списку в верх барі*/

/*ul li {*/

/*
    display: inline;
    padding: 100px;
    font-size: 35px;
}
*/

/*розміщення силок в верх барі*/

/*
@media(min-width: 640px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "righ righ" "cont cont" "gallery gallery" "info info" "footer footer"
    }
}
*/

/*::-webkit-scrollbar{*/

width:1px;
height:0px;
}

/*::-webkit-scrollbar-button{*/

width:1px;
height:0px;
}

/*.horizontal-scroll-wrapper{*/

/*  position:absolute;*/

/*    z-index: 0;*/

/*    opacity: inherit;*/

/*  display:block;*/

/*    overflow: hidden;*/

/*  top:0;*/

/*  left:auto;*/

/*  width:80px;*/

/*  max-height:100%;*/

/*  margin:0;*/

/*  background:#abc;*/

overflow-y:auto;
overflow-x:hidden;
transform:rotate(-90deg) translateY(-80px);
/*  transform-origin:right top;*/

/*    display: inline;*/

/*    */

/*    background-color: orangered;*/

/*    border: 1px solid red;*/

/*    padding-bottom: 500px;*/

/*    background-position: center;*/

/*    border-radius: 5px;*/

/*    font-size: 20px;*/

/*    grid-area: gallery;*/

/*    width: 500px;*/

height: 150px;
width: auto;
/*    box-sizing: border-box;*/

}

/*.horizontal-scroll-wrapper img{*/

width: auto;
height: 60px
}

/*.horizontal-scroll-wrapper > div{*/

/*  display:block;*/

/*    top:;*/

padding:5px;
/*  background:#f4df42;*/

/*    display: inline;*/

transform:rotate(90deg);
/*  transform-origin: right top;*/

}

/*.rectangles{*/

/*  top: 400px;*/

padding:200px;
}

/*.rectangles > div{*/

width:140px;
height:60px;
margin:50px;
padding:5px;
background:#f4df42;
transform:rotate(90deg) translateY(80px);
/*  transform-origin: right top;*/

}
